<div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col">
            <div class="card">
                <img src="../../assets/image/JUNKPAGE80BIS-couv_page-0001.jpg" class="card-img-top"
                    alt="Clôture Claire">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/image/sunset-muraille-chine.jpg" class="card-img-top" alt="Clôture Claire">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/image/img-test.jpg" class="card-img-top " alt="Clôture Claire">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/image/sunset-muraille-chine.jpg" class="card-img-top" alt="Clôture Claire">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>