<div>
    
    <div class="row">
        <div class="col mt-2">
            <img src="../../assets/image/JUNKPAGE80BIS-couv_page-0001.jpg" class="card-img-top  " alt="Clôture Claire">
        </div>
        <div class="col-9 journal-content">
            <div class="row">
                <h2>Les filtres</h2>
            </div>
            <div class="card-deck mt-2">
                <div class="card">
                    <img src="../../assets/image/sunset-muraille-chine.jpg" class="card-img-top" alt="Clôture Claire">
                    <div class="card-body">
                        <h2 class="card-title">Bienvenue à Pessac</h2>
                        <p class="card-text">Une ligne de texte dans notre première carte.</p>
                        <p class="card-text"><small class="text-muted">Ligne de texte supplémentaire</small></p>
                    </div>
                    <a class="card-link">En savoir plus</a>
                </div>
                <div class="card">
                    <img src="../../assets/image/img-test.jpg" class="card-img-top" alt="Clôture Claire">
                    <div class="card-body">
                        <h2 class="card-title">Bienvenue à Pessac</h2>
                        <p class="card-text">Une ligne de texte dans notre première carte.</p>
                        <p class="card-text"><small class="text-muted">Ligne de texte supplémentaire</small></p>
                    </div>
                    <a class="card-link">En savoir plus</a>
                </div>
                <div class="card">
                    <img src="../../assets/image/sunset-muraille-chine.jpg" class="card-img-top" alt="Clôture Claire">
                    <div class="card-body">
                        <h2 class="card-title">Bienvenue à Pessac</h2>
                        <p class="card-text">Une ligne de texte dans notre première carte.</p>
                        <p class="card-text"><small class="text-muted">Ligne de texte supplémentaire</small></p>
                    </div>
                    <a class="card-link">En savoir plus</a>
                </div>
                <div class="card">
                    <img src="../../assets/image/JUNKPAGE80BIS-couv_page-0001.jpg" class="card-img-top  " alt="Clôture Claire">
                    <div class="card-body">
                        <h3 class="card-title">Titre de la seconde carte</h3>
                        <p class="card-text">Une ligne de texte dans notre seconde carte.</p>
                    </div>
                    <div class="card-footer">Pied de la seconde carte</div>
                </div>
            </div>
        </div>
    </div>
</div>