<div class="container-global">
    <h1>Editer un nouvel article</h1>
    <form>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Catégorie</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="Fête de la citrouille">Fête de la citrouille</option>
                        <option value="Danse">Danse</option>
                        <option value="Musique">Musique</option>
                        <option value="Cirque">Cirque</option>
                    </select>
                </div>
                <!-- TODO : ajouter Copyright et libellé desccriptif de l'image-->
                <div class="col">
                    <label class="form-label">Rédacteur</label>
                    <input type="text" class="form-control">
                </div>

                <div class="col-6">
                    <label class="form-label">Image prinicipale</label>
                    <div class="input-group">  
                    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputFile"
                        aria-label="Upload">
                    <button class="btn btn-outline-secondary" type="button" id="inputFile">Supprimer</button>
                </div>
                </div>

            </div>
        

        <div class="mb-3">
            <label class="form-label">Titre du chapeau</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Contenu du chapeau</label>
            <textarea type="text" class="form-control" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Titre de l'article</label>
            <input type="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">Contenu de l'article</label>
            <ckeditor class="mb-3" [config]="config" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
        </div>
    </form>
</div>